@media screen and (max-width: 600px) {
    .lights {
        display: block;
        background-color: red;
        left: auto;
        right: auto;
    }

    .strips {}
}
html{
    display: block;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}

.lights {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 420px;

}

.strips {
    position: relative;
    border-radius: 1rem;
    background-color: black;
    margin: 0.2rem;
    padding: 2px;
    flex: 1;
    
}

.light {

    padding-bottom: 100%;
    /* height: 5rem;
    width: 5rem; */
    border-radius: 100%;
    margin: 0.4rem 0.2rem;
    background-color: #2c2c2c;
}

.on {
    background-color: red;
}
.holding-board{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 50%;
    height: 4%;
    background: #000;
    transform: translateY(-50%);
}
#reaction-time {
    font-size: 200%;
    color: black;
}